@charset "UTF-8";

td
{
	margin-right : 5px;
	margin-left : 5px;
}

#add-button
{
	width : 100%;
	margin-bottom : 20px;
}

body
{
	background-image : linear-gradient(to right,#5500ff,white,#5500ff);
}